.container {
  padding-top: 176px;
  min-height: 93vh;
  justify-content: center;
  @media (min-width: 320px ) {
    padding: 5vw;
    zoom:0.6;
  }
  @media (min-width: 375px) {
    zoom:0.7;
  }
  @media (min-width: 425px) {
    zoom:0.8;
  }
  @media (min-width: 768px ) {
    zoom:1;
   
  }
}

.title {
  width: 720px;
  max-width: 95%;
}

.divider {
  height: 1px;
  width: 960px;
  max-width: 95%;
  background: #ebebeb;
}


.Login_container {

  @media only screen and (max-width: 650px) {
      padding: 0.6rem 12px 0.8rem 12px;
  }

  align-items: baseline;
  display: flex;
  width: 23rem;
  height: 10rem;
  gap: 1rem;
  justify-content: end;
  margin: 0 1rem;
}




.companyButton {
  background: #121f29;
  width: 50%;
  height: 100%;
  cursor: pointer;
  display: flex;
  border-radius: 0.4rem;
  color: white;
  font-size: 2rem;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.userButton {
  background: #0a58ca;
  width: 50%;
  cursor: pointer;
  display: flex;
  color: white;
  font-size: 2rem;
  flex-wrap: nowrap;
  height: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0.4rem;
}


.registerButton{
  color: blue;
  cursor: pointer;
  float: left;
  margin-left: 0.5rem;
}