.section {
  width: 100%;

  @media (min-width: 1238px) {
    height: calc(100vh);
  }

  @media (max-width: 1238px) {
    flex-direction: column;
  }

  display: flex;
}

.section-dark {
  background: #1F1F1F;
  color: white;
}

.text {

  @media (min-width: 320px) {
    padding: 5vw;
    zoom: 0.6;
  }

  @media (min-width: 375px) {
    zoom: 0.7;
  }

  @media (min-width: 425px) {
    zoom: 0.8;
  }

  @media (min-width: 768px) {
    zoom: 1;

  }

  @media (min-width: 1238px) {
    width: 50%;

    @media (min-height: 520px) {
      zoom: 0.7;
    }

    @media (min-height: 585px) {
      zoom: 0.8;
    }


    @media (min-height: 675px) {
      zoom: 0.9;
    }


    @media (min-height: 728px) {
      zoom: 1;
    }
   
    @media (min-height: 1000px) {
      zoom: 1.3;
    } 
  }



  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.text>* {
  width: 100%;
  max-width: 574px;
}

.text>.logo {
  text-align: center;
}

.image {
  width: 50%;
  position: relative;
  background: lightgray;
}