.header {
  position: inherit;
  background: #000000;
  box-shadow: 0px 12px 12px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
  @media (min-width: 320px ) {
    zoom:0.6;
  }
  @media (min-width: 375px) {
    zoom:0.7;
  }
  @media (min-width: 425px) {
    zoom:0.8;
  }
  @media (min-width: 768px ) {
    zoom:1;
  }

}

.logo {
  display: inline-flex;
  cursor: pointer;
}
